<MudCard Elevation="0" Style="background: transparent;">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">Attendance Tracker</MudText>
            <MudText Typo="Typo.body2">Current Stage Participation</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.History" Color="Color.Default" />
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        <div class="d-flex align-center justify-space-between">
            <MudProgressCircular Color="Color.Primary" Value="75" Size="Size.Large" Thickness="4" />
            <div class="ml-4">
                <MudText Typo="Typo.h4" Color="Color.Primary">0%</MudText>
                <MudText Typo="Typo.caption" Class="mud-text-secondary">Minimum required: 75%</MudText>
            </div>
        </div>
    </MudCardContent>
</MudCard>
