<MudCard Elevation="0" Style="background: transparent;">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">Deadline Tracking</MudText>
            <MudText Typo="Typo.body2">Days remaining for current milestone</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <div class="d-flex flex-column align-center">
            <MudText Typo="Typo.h3" Color="Color.Error">04</MudText>
            <MudText Typo="Typo.subtitle1" Class="mud-text-secondary">Days Left</MudText>
            <MudProgressLinear Color="Color.Error" Value="80" Class="mt-4" Rounded="true" Size="Size.Large" />
            <MudText Typo="Typo.caption" Class="mud-text-secondary mt-2">Target: Feb 20, 2026</MudText>
        </div>
    </MudCardContent>
</MudCard>
